
<div class="sidebar">
<h1>Issue Search</h1>
  <%= render 'form' %>
  </div>

  <div class="floater">
  <div class="issues">
    <ul>Open Issues
      <div class="list_of_issues">
        <% @issues.each do |issue| %>
          <% @link_text = issue[1] + ' in ' + issue[0] %>
          <li>
            <div class = "right-arrow"></div>
            <%= link_to @link_text, issue[2] %>
          </li>
        <% end %>
      </div>
    </ul>
  </div>
</div>

<!--<#%= link_to 'Show', @search %> |
  <#%= link_to 'Back', searches_path %>-->
