// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack:    Helvetica, sans-serif;

body {
  font-weight: 300;
  font: 100% $font-stack;
  font-size: 40px;
  text-align: center;
    background: #3ca;
}

h1 {
  margin: 0 auto;
  margin-top: -35px;
  text-align: center;
  font: 220% 'Pacifico', cursive;
}

table {
  margin: 0 auto;
}

form {
}

.field {

  display: inline-block;
  font-family: 'Pacifico', cursive;
  input {
    background: none;
    outline: none;
    font-weight: 300;
    font-size: 40px;
    font: 90% 'Trykker', serif;
    text-align:center;
    font-style: italic;
    background-color: #7f9;
    border:2px solid #333;
    border-radius:10px;
    box-shadow: 5px 8px 5px #397;
  }

    margin-top: -15px;
  select {
    background: #3a8;
    width: 120px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 2px solid #333;
    border-radius: 5px;
    height: 34px;
    -webkit-appearance: none;
  }
}

.issues {
  margin-left: auto;
  margin-right: auto;
}

ul {
  font: 120% 'Pacifico', cursive;
  margin-left: auto;
  margin-right: auto;
  .list_of_issues {
        text-align: left;
        margin-top: 20px;
  }
}

li {
  list-style: none;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  padding: 5px;
  a {
    display: block;
    &:hover {
      background-color: rgba(255, 255, 255, 0);
    }
    text-decoration: none;
  }
}

  .actions input {
    padding: 10px 15px 11px;
    font-size: 20px;
    background-color: #7f9;
    text-shadow: 1px 1px #57D6C7;
    border-radius: 5px;
  }

@media screen and (min-width: 1310px) {
  body {
    margin: 0;
  }

  h1 {
    text-align: center;
    margin-left: 10px;
  }

  .actions input {
    margin-top: 15px;
    font: 70% 'Trykker', serif;
  }

  .floater {
    float:right;
    width: 1355px;
  }

  .field {
    text-align: center;

  } 

  .sidebar {
    padding-top: 20px;
    position: fixed;
    height: 100%;
    width: 490px;
    text-align: center;
  }

  .issues {
    ul {
      margin-top: -10px;
      padding-top: 20px;
      text-align: center;
      .list_of_issues {
        padding-top: 5px;
        background-color: #7f9;
        border:2px solid #333;
        border-radius:10px;
        text-align: left;
        li {
          margin-top: -3px;
          .right-arrow {
              width: 0; 
              height: 0; 
              border-top: 10px solid transparent;
              border-bottom: 10px solid transparent;
              border-left: 10px solid green;
              border-left-color: rgba(0, 0, 0, 0);
              display: block;
              position: absolute;
              margin-left: -24px;
              margin-top: 7px;
            }
            &:hover {
              .right-arrow {
                border-left-color: #000;
              }
            }
          a {
            padding-top: 8px;
            padding-bottom: 6px;
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 5px;
            font: 90% 'Trykker', serif;
            &:hover {
              background: #3a8;
            }
          }
        }
        padding-bottom: 2px;
      }
    }
    position: fixed;
    overflow-y: scroll;
    height: 100%;
    margin-left: 510px;
  }

  @media screen and (max-height: 600px) {
    .sidebar {
      overflow-y: scroll;
    }
  }
}



