// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack:    Helvetica, sans-serif;

body {
  font-weight: 300;
  font: 100% $font-stack;
  font-size: 40px;
  text-align: center;
}

h1 {
  margin: 0 auto;
  text-align: center;
  font: 200% $font-stack
}

table {
  margin: 0 auto;
}

form {
  margin-top: 20px;
}

.field {

  display: inline-block;
  input {
    background: none;
    outline: none;
    border: none;
    font-weight: 300;
    font: 100% $font-stack;
    font-size: 40px;
    text-align:center;
    background-color: #ddd;
    font-style: italic;
  }
  margin-top:30px;
}

.issues {
  margin-left: auto;
  margin-right: auto;
}

ul {
  margin-left: auto;
  margin-right: auto;
  font: 120% $font-stack;
  .list_of_issues {
        text-align: left;
        margin-top: 20px;
  }
}

li {
  list-style: none;
  text-align: center;
  font-weight: 300;
  font: 100% $font-stack;
  font-size: 20px;
  padding: 5px;
  a {
    &:hover {
      color: #a55;
      background-color: rgba(255, 255, 255, 0);
    }
  }
}

@media screen and (min-width: 1280px) {
  body {
    margin: 0
  }

  h1 {
    text-align: center;
  }

  .floater {
    float:right;
    width: 1355px;
  }

  .field {
    text-align: center;
  } 

  .sidebar {
    padding-top: 20px;
    position: fixed;
    height: 100%;
    width: 490px;
    text-align: center;
  }

  .issues {
    ul {
      margin: 0 auto;
      padding-top: 20px;
      text-align: center;
      font: 120% $font-stack;
      .list_of_issues {
        text-align: left;
        margin-top: 20px;
      }
    }
    position: fixed;
    overflow-y: scroll;
    height: 100%;
    margin-left: 500px;
  }

  @media screen and (max-height: 600px) {
    .sidebar {
      overflow-y: scroll;
    }
  }
}



